.light{
	font-size: 120pt;
	transition: linear 0.5s;
}
.light.on{
    color: rgb(255, 255, 0);
    text-shadow: 0px 0px 20px rgb(255, 255, 0);
}
.light.off{
    color: rgba(0, 0, 0, 0.87);
}
.light.loading{
    color: rgba(0, 0, 0, 0.27);
}
